@{
    ViewData["Title"] = "Contact";
    Layout = null;
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<img src="~/outfiles/mvc_course.png" />
/是给浏览器解析的，～是给服务器asp.net引擎解析的，都表示网站根目录。
~/ 是得到根目录   是asp.net提供的新概念

../是得到上一级目录
