<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="File"
            name="file"
            fileName="${basedir}/../../Logs2019/VPS/${shortdate}/Server.log"
            encoding="utf-8"
            archiveFileName="${basedir}/../../Logs/VPS/${shortdate}/Server.log"
            archiveAboveSize="4194304"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            maxArchiveFiles="50"
            keepFileOpen="false"
            layout="${level:uppercase=false}: ${longdate} [${threadid}]${newline}     ${callsite}[${callsite-linenumber}]${newline}     ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="file"></logger>
  </rules>
</nlog>

<!--<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
     
       internalLogFile="internal-nlog.txt">
  --><!--define various log targets--><!--
  <targets>
    --><!--write logs to file--><!--
    --><!--<target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />--><!--
 
    <target xsi:type="File" name="ownFile-web" fileName="LogFiles/${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    --><!--<target xsi:type="Null" name="blackhole" />--><!--
  </targets>
  <rules>
    --><!--All logs, including from Microsoft--><!--
    --><!-- 记录微软所有日志，一般不开 --><!--
    --><!--<logger name="*" minlevel="Trace" writeTo="allfile" />--><!--
 
    --><!--Skip Microsoft logs and so log only own logs--><!--
    --><!--<logger name="Microsoft.*" minlevel="Fatal" writeTo="blackhole" final="true" />--><!--
    <logger name="*" minlevel="Info" writeTo="ownFile-web" />
  </rules>
</nlog>-->